<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="landing.css">
</head>
<body>
    <h1>landing</h1>
    <h2><%= locals.albumName ? `Album: ${albumName}` : 'Not currently playing.'%></h2>
    <h2><%= locals.albumAuthor ? `Creator: ${albumAuthor}` : null %> </h2>
    <div id="testing"></div>
</body>
</html>