#testing {
    width: 100px;
    height: 100px;
    background-color: black;
}
.home{
    color:aqua;
   border-radius: 10px;
   

 }
 .small{
    height: 100px;
 }
 .jumbotron
 {
    background-color:black;
 }
 #list{
    background-color: aqua;
    border-radius: 10px;

 } 
 #list:hover{
    background-color: #249D9F;
    border-radius: 1px;
    transition:.2s;
 }
 .row{
   
   column-gap: 20px;
   display: flex;
   justify-content: center;
   
 }
 .space{
   margin: 10px;
   padding: 5px;
   
 }
 .space:first-child{
   margin-left: 0;
 }
 .space:last-child{
   margin-right: 0;
 }